*{
    padding: 0;
    margin: 0;
    color: #1d69c0;
    text-align: center;
}

html, body{
    background-color: #cfcecd;

}

.main-container{
    border: 2px solid rgb(55, 124, 136);
    border-radius: 50px;
    margin: 2rem;
    background-color: #5e5f5e;
}


nav, section, footer, aside, article{
    border: 2px solid #491faa;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}
article h4, aside h4{
    text-align: justify;
    color: #000000;
}
article{
    width: 40%;
    display: inline-block;
    height: 700px;
    background-color: #ffffff;
}
aside{
    width: 40%;
    display: inline-block;
    height: 300px;
    background-color: #ffffff;
}

nav, footer, section {
    background-color: darkgrey;
}
.foto{
    height: 540px;
    width: 540px;
    border-radius: 50%;
    border:10px solid #1d69c0;
    align-self:flex-start;
}
li{
    text-align: justify;
    color: #000000;
}
ul{
    align-items:flex-start;
}